# Vercel Postgres 데이터베이스 연결 정보
# Vercel 프로젝트에 Postgres를 추가하면 자동으로 설정됩니다
POSTGRES_URL="postgres://default:***@***-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_PRISMA_URL="postgres://default:***@***-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb?pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NON_POOLING="postgres://default:***@***-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_USER="default"
POSTGRES_HOST="***-pooler.us-east-1.postgres.vercel-storage.com"
POSTGRES_PASSWORD="***"
POSTGRES_DATABASE="verceldb"

# Next.js
NEXT_PUBLIC_APP_URL="http://localhost:3002"
